footer{
    border-top: 3px solid #ffe600;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
    position: relative;
}
.in_footer {
    padding: 30px 0;
    text-align: center;
    color: #262626;
    position: relative;
}
.in_footer .logo {
    display: inline-block;
    width: 179px;
}
.in_footer .company_info {
    padding-top: 30px;
    margin-bottom: 0;
    font-size: 0.812rem;
}
.in_footer .company_info li {
    display: inline-block;
    list-style: none;
    line-height: 1.7;
}
.in_footer .company_info li:after {
    padding: 0 14px;
    content: 'l';
}
.in_footer .copyright {
    margin-top: 2rem;
}
p {
    line-height: 150%;
}
.in_footer .r_box {
    width: 100%;
    max-width: 175px;
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 0.75rem;
}
.in_footer .family_site {
    width: 100%;
    padding: 5px 7px;
    margin-bottom: 25px;
    border: 1px solid #262626;
    position: relative;
    cursor: pointer;
    text-align: left;
}
.in_footer .family_site #fmenu {
    display: none;
    padding: 0 5px;
    position: absolute;
    bottom: 28px;
    left: -1px;
    right: 0;
    background: #fff;
    border: 1px solid #262626;
    width: 175px;
}
.in_footer .family_site #fmenu li {
    padding: 7px 0;
}
.to_top {
    position: fixed;
    bottom: 15px;
    right: 60px;
    z-index: 10;
}
.to_top span {
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url(../img/off.png)no-repeat center;
}
.to_top span:hover {
    background: url(../img/on.png)no-repeat center;
}